* text=auto

*.js text eol=crlf
*.jsx text eol=crlf
*.ts text eol=crlf
*.tsx text eol=crlf
*.css text eol=crlf
*.html text eol=crlf
*.json text eol=crlf
*.md text eol=crlf
*.java text eol=crlf
*.properties text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
